@import "tailwindcss";

/* Custom fonts */
@font-face {
  font-family: "IvaryOraText";
  src: url("/assets/IvaryOraText-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPPangramSansCompact";
  src: url("/assets/PPPangramSansCompact-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Tell Tailwind to use these as the default serif/sans stacks */
@theme {
  --font-sans: "PPPangramSansCompact", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-serif: "IvaryOraText", "Times New Roman", ui-serif, serif;
}


/* Globally prevent page scrolling */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  overflow: hidden;
}
